.headerContainer {
  height: 104px;
  background-color: #030222;
  color: #c2e9fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 2.5%;
}

.headerContentContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 2.5%;
  width: 40%;
}

.headerContent {
  cursor: pointer;
}