.container {
  width: 100%;
  background: url('../../imgs/logInBackground.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoContainer {
  position: relative;
  margin : auto;
  margin-bottom: 16px;
  object-fit: contain;
}

.logInContainer {
  width: 406px;
  margin: auto;
  padding-top: 22%;
  padding-bottom: 14.6%;
}

.inputBox {
  width: 366px;
  height: 47.9px;
  margin-bottom: 27px;
  border-radius: 24px;
  border: solid 3px #c2e9fb;
  font-size: 14px;
  color: #c2e9fb;
  padding: 0;
  padding-left: 34px;
  background-color: rgba(255, 255, 255, 0);
}

.emailContainer {
  width: 406px;
}

.emailBox {
  width: 220.5px;
  height: 47.9px;
  margin: 0;
  margin-bottom: 27px;
  border-radius: 24px;
  border: solid 3px #c2e9fb;
  font-size: 14px;
  color: #c2e9fb;
  padding: 0;
  padding-left: 34px;
  background-color: rgba(255, 255, 255, 0);
}

.inputBox::placeholder,
.emailBox::placeholder {
  color: #c2e9fb;
}

.logInBtnContainer {
  width: 406px;
}

.logInBtn {
  width: 128px;
  height: 32px;
  margin: 0 139px 11px;
  font-size: 14px;
  padding: auto;

  border: solid 0px pink;
  border-radius: 24px;
  background-image: linear-gradient(to right, #ec4176, #00d7d4 104%);
}


.signUpButton {
  width: 128px;
  height: 32px;
  margin: 0 139px 11px;
  border-radius: 24px;
  border: solid 3px #c2e9fb;
  background-color: rgba(255, 255, 255, 0);
  
  font-size: 14px;
  color: #c2e9fb;
}

input:focus {
  outline:none;
}

button:focus {
  outline:none;
}
