*:focus {
    outline:none;
}

input:focus,
button:focus {
    outline:none;
}

body {
    -ms-overflow-style:none; 
}
body::-webkit-scrollbar { 
    display:none; 
}

.maincontainer {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.titleBox {
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

.formBox {
    display : flex;
    align-items: center;
    padding: 25px 0px 25px 0px;
}

.formCategory {
    width: 30%;
    text-align: center;
}

.formContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.formName {
    color : #63636d;
    font-size : 0.8rem;
    margin: 15px 0px 3px 0px;
}

.formOutput {
    display: block;
    font-size : 1rem;
    margin-bottom: 2px;
    border : none;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'arita-dotum4.0otfsemibold';
    width: 80%;
    color : #030222;
}

.introductionarea {
    width : 80%;
    height: 170px;
    border : 0.3px solid #ccc;
    font-family: 'arita-dotum4.0otfsemibold';
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030222;
}

.preferentialerea {
    width: 80%;
    height: 90px;
    border : 0.3px solid #ccc;
    font-family: 'arita-dotum4.0otfsemibold';
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030222;
}