select:focus {
  outline: none;
}

.cardContainer:hover {
  border: 1px solid #ccc;
}

option {
  padding : 3px;
}

.subHeaderContainer {
  display: flex;
  margin: auto;
  height: 50px;
  width : 95%;
  border-bottom: 2px solid #ccc;
  justify-content: flex-start;
  align-items : center;
}

.filterImg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.filterBox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  width: 100px;
  text-align-last: center;
  border : none;
  border-right: solid 1px #ccc;
}

.penImgContainer {
  position: absolute;
  top : 105px;
  right: 2.5%;
}

.writeButton {
  width: 4rem;
  height: 1.5rem;
  margin-top: 13.7px;
  border : none;
  background : none;
  font-size : 1rem;
  color: #7b68ee
}

.cardsContainer {
  width: 1477px;
  margin: auto;
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 90px 9px;
  padding-left: 50px;
}

.cardContainer {
  width: 325px;
  height: 190px;
  border: none;
  box-shadow: 5px 5px 10px grey;
}

.cardTeamType {
  text-align: right;
  padding: 20px 33px 0 0;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
}

.cardTitle {
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  padding-left: 33px;
  padding-top: 35px;
  cursor: pointer;
}

.cardAuthor {
  padding-left: 33px;
  padding-top: 14px;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}

.cardCategoryBox {
  width: 33px;
  height: 13px;
  margin-left: 33px;
  margin-top: 30px;
  padding: 0px 13px;
  padding-top: 2px;
  border: solid 1px #030222;
  border-radius: 6px;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 6px;
  font-weight: 500;
  letter-spacing: normal;
  color: #030222;
  text-align: center;
}
