.container {
  width: 100%;
  height: 100%;
}

.subHeaderContainer {
  display: flex;
  width: 100%;
  height: 46px;
  border-bottom: solid 3px;
  justify-content: center;
}

.filterImgContainer {
  height: 100%;
  border-left: solid 2px #030222;
  border-right: solid 2px #030222;
  margin-left: 15px;
}

.filterImg {
  width: 16px;
  height: 17.4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 13.7px;
  padding-bottom: 13.7px;
  margin: 0;
}

.filterBox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  background-color: white;
  width: 155.3px;
  height: 100%;
  text-align-last: center;
  border-right: solid 2px #030222;
  border-bottom: none;
  border-top: none;
}

.penImgContainer {
  width: 80px;
  height: 100%;
  border-left: solid 2px #030222;
  border-right: solid 2px #030222;
  text-align: center;
  margin-left: 50.8%;
}

.penImg {
  width: 21px;
  height: 19.1px;
  margin-top: 13.7px;
}

.cardsContainer {
  width: 1477px;
  margin: auto;
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 90px 9px;
  padding-left: 50px;
}

.cardContainer {
  width: 325px;
  height: 190px;
  border: none;
  box-shadow: 5px 5px 10px grey;
}

.cardTeamType {
  text-align: right;
  padding: 20px 33px 0 0;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
}

.cardTitle {
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  padding-left: 33px;
  padding-top: 35px;
}

.cardAuthor {
  padding-left: 33px;
  padding-top: 14px;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}

.cardCategoryBox {
  width: 33px;
  height: 15px;
  margin-left: 33px;
  margin-top: 30px;
  padding: 0px 13px;
  border: solid 1px #030222;
  border-radius: 6px;
  font-family: 'arita-dotum4.0otfmedium';
  font-size: 6px;
  font-weight: 500;
  letter-spacing: normal;
  color: #030222;
  text-align: center;
}
